.footer {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: .7em;
    align-items: center;
}

.footer_copyrightIcon {
    font-size: 1em !important;
    padding-right: .3em;
}

.footer > a {
    text-decoration: none;
    color: #0177b7;
    padding-left: .6em;
}